.Main
{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width:auto;
    
}
.content
{
    color: aliceblue;
    padding-top: 50px;
    
    
}
