*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
    text-transform: capitalize;
    text-decoration: none;
   }
  
   header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 10px #0a0a0a;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
   }
  
   header .logo{
    font-size: 50px;
    color: #080808;
  
   }
  
   header .navbar ul{
    list-style: none;
   }
  
   header .navbar ul li{
    position: relative;
    float: left;
   }
   header .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: #000;
    display: block;
   }
  
   header .navbar ul li a:hover{
    color: #089da1;
   }
  
   #menu_bar{
    font-size: 50px;
    color: #333;
    cursor: pointer;
    display: none;
   }
   #menu_check{
    display: none;
   }
  
   @media(max-width:900px) {
      
   header .logo, #menu_bar{
    font-size: 30px;
   }
      header{
        padding: 20px;
      }
      #menu_bar{
          display: initial;
  
      }
      header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rbga(0,0,0,1);
        display: none;
      }
      header .navbar ul li{
        position: relative;
        width: fit-content;
        right: 0;
        width: 100%;
      }
      #menu_check:checked ~.navbar{
        display: initial;
      }
      
  
   }