
.xyz{
    text-align: center;
}
.txt
{
    padding-left:3%;
    padding-top:2.5%;
}
.contented
{
padding-top: 3%;
}
.image{
    padding-top: 2 0%;
    height: 100%;
    width: 100%;
}
/* .ma{
    display: flex;
} */

/* .txt1
{
    height:50%;
} */
/* .jk
{
    padding-left:20%;
    display: flex;
}
.kv
{
    padding-left:20%;
    display: flex;
}
.rat{
    padding-left:10%;
}
.para
{
     padding-left:150%;
    padding-bottom:100%; 
    left:3px;
} */
